.header__container {
  background-color: var(--light-color);
  box-shadow: 0 0.188em 0.688em rgba(0, 0, 0, 0.1);
  border-radius: 1.5em;

  padding-left: 1.875em;

  position: fixed;
  top: var(--m-nav);
  z-index: 9999;
  width: var(--w-container);
}

.nav {
  gap: 2.5em;
  height: var(--h-nav);

  &__item--active {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-bottom: 3px solid var(--red-color);
      z-index: -1;
    }
  }

  &__link {
    font-weight: 500;
  }
}
