.hero {
  // total nav space (height and margin) + local margin
  margin-top: calc(var(--h-nav) + var(--m-nav) + 1.875em);

  &__greeting {
    font-size: 1.5rem;
    margin-bottom: 0.375em;
  }

  &__company {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    margin-bottom: 0.417em;
  }

  &__get-started {
    margin-right: 1.25em;
  }
}
