.container {
  max-width: var(--w-container);
  margin: 0 auto;
}

.flex {
  display: flex;
}

.justify-sb {
  justify-content: space-between;
}

.align-c {
  align-items: center;
}

.btn {
  display: inline-block;
  padding: 0.875em 1.875em;
  border-radius: 1.5em;
  background-color: var(--bg-clr);
  color: var(--text-clr);
  font-weight: bold;

  &-red {
    --bg-clr: var(--red-color);
    --text-clr: var(--light-color);
  }

  &-cyan {
    --bg-clr: var(--cyan-color);
  }
}

.text-red {
  color: var(--red-color);
}
