.container {
  max-width: var(--w-container);
  margin: 0 auto;
}

.flex {
  display: flex;
}

.justify-sb {
  justify-content: space-between;
}

.align-c {
  align-items: center;
}

.btn {
  display: inline-block;
  padding: 0.875em 1.875em;
  border-radius: 1.5em;
}

.btn-red {
  background-color: var(--red-color);
  color: var(--light-color);
}
